@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'PT Serif', serif;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.moviecontainer {
    display: flex;
    justify-content: center;
}

img {
    width: 15rem;
    height: 22rem;
    padding-bottom: 1rem;
}

.block {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem 1.2rem;
    border: 2px rgb(63, 62, 62) solid;
    width: 18rem;
    margin-left: 1rem;
    cursor: pointer;
}

.block:hover {
    transform: scale(1.05);
    transition: 200ms;
    border: yellow solid 1px;
    box-shadow: rgba(255, 255, 0, 0.487) 2px 15px 15px 30px;
}

#info {
    margin: 0 auto;
    text-align: center;
    margin-top: 4rem;
    max-width: 50%;
}

@media (min-width: 600px) and (max-width: 1350px) {
    .moviecontainer {
        display: flex;
        flex-direction: column;
    }
}